html {
    box-sizing: border-box;
}

*,
*::before;
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

(ul) */ .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


address {
    font-style: normal;
    /* or */
    font-style: inherit;
}

/*Fonts*/
@font-face {
    font-family: 'Raleway';
    src: local('Raleway') url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: 26px;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-accent: #2196F3;
    --color-background-primary: white;
    --color-text: #757575;
    --color-text-title: #212121;
    --color-second-fone: #F5F4FA;
    --color-hero: #2F303A;
    --color-logo: black;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}

body {
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-text);
    background-color: var(--color-background-primary);
}

.header {
    color: var(--color-text-title);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    background-color: var(----color-background-primary-title);
}

.full-logo-header {
    font-family: var(--font-family-logo);
    color: var(--color-logo);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo {
    color: var(--color-accent);
}

.site-nav .link {
    color: var(--color-text-title);
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--color-accent);
}

.contacts-nav .contact {
    color: var(--color-text-title);
    font-size: 14px;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-accent);
}

.contacts-nav .contact:hover,
.contacts-nav .contact:focus {
    color: var(--color-accent);
}

.hero {
    background-color: var(--color-hero);
}

.hero .hero-title {
    color: var(--color-background-primary);
}

.hero-title {
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-size: 16px;
    background-color: var(--color-accent);
    color: var(--color-background-primary);
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px;
}

.button:hover,
.button:focus {
    color: var(--color-second-fone);
}

.title {
    color: var(--color-text-title);
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
}

.content-title {
    color: var(--color-text-title);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
}

.content-text {
    color: var(--color-text);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
}

.team {
    background-color: var(--color-second-fone);
}

.person-name {
    color: var(--color-text-title);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
    letter-spacing: 0.03em;
}

/*Footer*/
.full-logo-footer {
    font-family: var(--font-family-logo);
    color: var(--color-background-primary);
    font-size: 26px;
    text-decoration: none;
}

.logo {
    color: var(--color-accent);
}

.address-list .address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-background-primary);
    opacity: 0.6;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.address-list .address-link:hover,
.address-list .address-link:focus {
    color: var(--color-background-primary);
    opacity: 1.0;
}

/* Portfolio page */
.button-link {
    background-color: var(--color-second-fone);
    color: var(--color-text-title);
    border-radius: 4px;
    text-align: center;
    border: none;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.buttons-nav .button-link:hover,
.buttons-nav .button-link:focus {
    background-color: var(--color-accent);
    color: var(--color-background-primary);
}

.img-text {
    color: var(--color-text-title);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}